/** @format */

.page {
    max-width: 600px;
    margin: 20px auto;
}

.card {
    border: 2px solid rgb(61, 71, 112);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.morning {
    background: linear-gradient( to bottom, rgba(248, 223, 238, 0.87) 0%, rgba(255, 254, 190, 0.815) 74.6%);
}

.midday {
    background: linear-gradient( to bottom, rgb(196, 214, 252) 1%, rgba(187, 187, 187, 0) 80%);
}

.afternoon {
    background: linear-gradient(to top, #df89b5 -10%, #bfd9fe 100%);
}

.night {
    background: linear-gradient( to top, rgb(221, 221, 221) 0%, rgb(25, 46, 152) 100%);
}

.date {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(95, 99, 160);
    margin-bottom: 5px;
}

.form {
    margin-bottom: 10px;
}

.form-control {
    box-shadow: 2px 2px 2px rgb(153, 151, 151);
    background: rgba(255, 255, 255, 0.8);
    margin-left: 5px;
}

.form-control:focus {
    outline: none;
}

.btn {
    background: rgb(95, 99, 160);
    border: 1px solid rgb(95, 99, 160);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 2px rgb(153, 151, 151);
}

.btn:hover {
    transition: 2ms ease-in-out;
    background: rgb(95, 99, 160);
    border: 1px solid rgb(95, 99, 160);
    cursor: pointer;
}

.city,
.temp {
    color: rgb(61, 71, 112);
    font-size: 38px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
}

.city {
    margin-left: 5px;
}

.temp {
    display: inline;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.units {
    position: relative;
    top: -16px;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}

.active {
    color: rgb(61, 71, 112);
    font-weight: bold;
    cursor: default;
}

.active:hover {
    color: rgb(61, 71, 112);
}

.info {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    font-size: 18px;
    color: rgb(95, 99, 160);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer {
    margin-top: 3px;
    margin-left: 5px;
    color: rgb(61, 71, 112);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer a {
    color: rgb(7, 7, 155);
}

.night-date {
    color: rgba(255, 255, 255, 0.8);
}